.menu
	{display: none;
	}
	
header
	{height: 60px;
	}

.menuie
	{display: block
	}

.contmenu
	{background: linear-gradient(#379F9B, #60CECA);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#379F9B', endColorstr='#60CECA');
	}

@media only screen and (max-width: 930px)
	{.menuie
		{display: none;
		}
	}