/*-----------------------------------------------------------------------------
Theme Name: GDF - The Amalgama
Description: Theme for GDF SUEZ Latin America, by The Amalgama
Version: 1.0
Author: Gabriel Scocozza
Date: March 6th, 2014
-----------------------------------------------------------------------------*/

/*Reset all the html tags*/
article, div,  footer, header, nav, section, aside, details, figcaption, hgroup, menu
	{display: block;
	}

html, body, div, span, applet, object, iframe,
blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, caption, tbody, tfoot, thead, tr, th, td
	{margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	vertical-align: baseline;
	}

p
	{margin-top: 0px;
	}

html
	{width: 100%
	}

body
	{background-color: #FFF;
	color: #959595;
	font-family: 'NimbusSansNovusMedium';
	width: 100%;
	}

i
	{font-style: normal;
	}

li
	{list-style: inherit;
	margin-top: 10px;
	margin-bottom: 10px;
	list-style-image: url("images/right.png");
	}

ul
	{padding-left: 5px;
	}

a
	{color: #00F;
	text-decoration: none;
	}

input, select, textarea
	{background: white;
	border: 1px solid #cbd3b5;
	color: #9e9d9e;
	padding: 9px 12px;
	font-size: 14px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	outline: none;
	}

#flotante
	{color: #F00;
	position: fixed;
	background-color: #000;
	top: 0px;
	left: 0px;
	}

#warning
	{color: #F00;
	position: fixed;
	background-color: #000;
	top: 0px;
	left: 0%;
	display: none;
	font-size: 20px;
	}

/* FUENTES */

@font-face
	{font-family: 'NimbusSansNovus';
	src: url('fonts/nimbussannov-bol.eot');
	src: url('fonts/nimbussannov-bol.eot') format('embedded-opentype'),
		 url('fonts/nimbussannov-bol.woff') format('woff'),
		 url('fonts/nimbussannov-bol.ttf') format('truetype'),
		 url('fonts/nimbussannov-bol.svg#NimbusSansNovusBold') format('svg');
	font-weight: Bold;
	font-style: normal;
	}

@font-face
	{font-family: 'NimbusSansNovusHeavy';
	src: url('fonts/nimbussannov-hea.eot');
	src: url('fonts/nimbussannov-hea.eot') format('embedded-opentype'),
		 url('fonts/nimbussannov-hea.woff') format('woff'),
		 url('fonts/nimbussannov-hea.ttf') format('truetype'),
		 url('fonts/nimbussannov-hea.svg#NimbusSansNovusHeavy') format('svg');
	font-weight: normal;
	font-style: normal;
	}

@font-face
	{font-family: 'NimbusSansNovusLight';
	src: url('fonts/nimbussannov-lig.eot');
	src: url('fonts/nimbussannov-lig.eot') format('embedded-opentype'),
		 url('fonts/nimbussannov-lig.woff') format('woff'),
		 url('fonts/nimbussannov-lig.ttf') format('truetype'),
		 url('fonts/nimbussannov-lig.svg#NimbusSansNovusLight') format('svg');
	font-weight: normal;
	font-style: normal;
	}

@font-face
	{font-family: 'NimbusSansNovusMedium';
	src: url('fonts/nimbussannov-med.eot');
	src: url('fonts/nimbussannov-med.eot') format('embedded-opentype'),
		 url('fonts/nimbussannov-med.woff') format('woff'),
		 url('fonts/nimbussannov-med.ttf') format('truetype'),
		 url('fonts/nimbussannov-med.svg#NimbusSansNovusMedium') format('svg');
	font-weight: normal;
	font-style: normal;
	}

@font-face
	{font-family: 'NimbusSansNovus';
	src: url('fonts/nimbussannov-reg.eot');
	src: url('fonts/nimbussannov-reg.eot') format('embedded-opentype'),
		 url('fonts/nimbussannov-reg.woff') format('woff'),
		 url('fonts/nimbussannov-reg.ttf') format('truetype'),
		 url('fonts/nimbussannov-reg.svg#NimbusSansNovusRegular') format('svg');
	font-weight: normal;
	font-style: normal;
	}

@font-face
	{font-family: 'NimbusSansNovusUltraLight';
	src: url('fonts/nimbussannov-ultlig.eot');
	src: url('fonts/nimbussannov-ultlig.eot') format('embedded-opentype'),
		 url('fonts/nimbussannov-ultlig.woff') format('woff'),
		 url('fonts/nimbussannov-ultlig.ttf') format('truetype'),
		 url('fonts/nimbussannov-ultlig.svg#NimbusSansNovusUltraLight') format('svg');
	font-weight: normal;
	font-style: normal;
	}

@font-face
	{font-family: 'HelveticaNeue';
	src: url('fonts/helveticaneue.eot');
	src: url('fonts/helveticaneue.eot') format('embedded-opentype'),
		 url('fonts/helveticaneue.woff') format('woff'),
		 url('fonts/helveticaneue.ttf') format('truetype'),
		 url('fonts/helveticaneue.svg#HelveticaNeueRegular') format('svg');
	}


/* REGLAS */

#flotante
	{position: fixed;
	margin: 0;
	color: red; z-index: 300;
	background-color: #000;
	}

.w1000
	{max-width: 1000px;
	margin: 0px auto;
	}

.b, .page
	{color: #000;
	font-family: Tahoma;
	text-align: justify;
	}

.b ul, .page ul
	{padding-left: 63px;
	}

.b h2, .page h2
	{color: #43AA9B;
	}

.b>p:nth-of-type(1), .page>p:nth-of-type(1), .featured-page>p:nth-of-type(1)
	{background-color: #F1F1F1;
    display: inline;
    font-size: 19px;
    line-height: 28.5px;
	}

.b>p:nth-of-type(2), .page>p:nth-of-type(2)
	{margin-top: 10px;
	}

.b li, .page li
	{list-style-image: none;
	list-style-type: none;
	}

.b li:before, .page li:before
	{color: #FCC400;
	content: "• ";
	font-size: 21px;
	margin-left: -18px;
	}

#news, #index-down, #social
	{box-shadow: 0 10px 30px -20px #000;
	}

header
	{margin-top: 15px;
	font-size: 14px;
	}

header>div
	{height: 70px;
	}

#violet
	{background-color: #43358C;
	width: 33%;
	}

#turquoise
	{background-color: #B4007D;
	width: 5.8%;
	}

#orange
	{background-color: #F07D00;
	width: 1.6%;
	}

#white
	{width: 0.9%;
	}

#blue
	{background-color: #0086CD;
	width: 1.7%;
	}

#light-blue
	{background-color: #00AAE7;
	width: 0.8%;
	}

#yellow
	{background-color: #FEE600;
	width: 3.5%;
	}

#green
	{background-color: #3BAA34;
	width: 10%;
	}

#light-green
	{background-color: #D2D700;
	width: 18%;
	}

#red
	{background-color: #E3001B;
	width: 24.7%;
	}

.colors
	{height: 14px;
	float: left;
	}

#colors
	{height: 14px;
	}

#logo
	{float: left;
	margin-left: 10px;
	margin-top: 5px;
	}

.contzoom
	{overflow: hidden;
	}

.zooming
	{width: 100%;
	}

.zoom.hover .zooming
	{transform: scale(1.1);
	}

#menu
	{width: 100%;
	max-width: 437px;
	min-width: 437px;
	float: right;
	}

#menu > div
	{height: 25px;
	}

#monetario1
	{padding-left: 4px !important;
	}

#monetario1, #monetario2
	{border-right: 1px solid #CCC;
	}

#up
	{margin-left: -70px;
	}

#up>div, #down>div
	{float: left;
	}

#up>div:not(#socials)
	{padding-right: 8px;
	}

#up>div
	{padding-left: 8px;
	}

#down
	{float: right;
	padding: 16px 0px 0px 0px;
	top: 40px;
	}

#down>div
	{border-right: 1px dotted #CCC;
	}

#down>div:last-child
	{border-right: none;
	padding-right: 0px;
	}

#down>div
	{padding: 0px 15px;
	}

.social
	{width: 22px;
	height: 22px;
	background-image: url("images/sprite.png");
	display: block;
	float: left;
	margin: 0px 5.8px;
	}

.up-down
	{background-image: url("images/sprite.png");
	background-position: -96px -42px;
	display: inline-block;
	height: 15px;
	width: 12px;
	}

#globos
	{background-position: -101px -110px;
	margin-left: 0px !important;
	}

#globos:hover
	{background-position: -101px -141px;
	}

#youtube
	{background-position: -67px -108px;
	}

#youtube:hover
	{background-position: -67px -139px;
	}

#facebook
	{background-position: 0 -108px;
	}

#facebook:hover
	{background-position: 0 -139px;
	}

#twitter
	{background-position: -34px -108px
	}

#twitter:hover
	{background-position: -34px -139px;
	}

.name
	{border-right: 1px dotted #C2C2C2;
	color: #C2C2C2;
	float: left;
	padding-right: 5px;
	padding-left: 5px;
	}

.name:nth-child(1)
	{padding-left: 0px !important;
	}

#down>div:nth-of-type(1)
	{padding-left: 0px;
	}

#down a
	{color: #959595;
	}

#sub-menu
	{background-color: #6A6A6A;
	box-shadow: 0px 2px 4px -1px #000 inset;
	color: #B5B5B5;
	height: 30px;
	}

.subleft
	{float: left;
	margin-left: 25px;
	margin-top: 5px;
	margin-bottom: 6px;
	text-transform: uppercase;
	}

.arrow-right
	{background-image: url("images/sprite.png");
	background-position: -280px -4px;
	width: 5px;
	height: 30px;
	float: left;
	margin-right: 10px;
	}

.arrow-down
	{background-image: url("images/sprite.png");
	background-position: -242px -4px;
	display: inline-block;
	height: 14px;
	margin-bottom: 1px;
	margin-left: 4px;
	width: 5px;
	}
	
.subright
	{float: right;
	}

#lang
	{background-color: #404040;
	color: #FFF;
	cursor: pointer;
	padding: 5px 0.9% 5px 1.4%;
	text-transform: uppercase;
	width: 36px;
	}

#languages
	{background-color: #404040;
	color: #FFF;
	width: 57px;
	cursor: pointer;
	overflow: hidden;
	height: 0px;
	position: absolute;
	}

#languages.opened
	{height: 46px;
	}

#languages a
	{display: block;
	padding: 2.5px 0px 2.5px 14px;
	width: 43px;
	}

#magglass
	{background-color: #000;
	background-image: url("images/sprite.png");
	background-position: -138px -103px;
	height: 30px;
	width: 18px;
	border-left: 18px solid #000;
	border-right: 12px solid #000;
	display: block;
	}

#sub-menu a
	{color: #B5B5B5
	}

#sub-menu a:hover
	{color: #fff
	}

#about
	{margin-left: 10px;
	}

#news
	{background-image: url("images/bg1.png"), url("images/bg2.png");
	background-repeat: no-repeat, no-repeat;
	background-attachment: scroll, scroll;
	padding: 0.1px 0px 0px 0px;
	}

#news>div
	{margin-top: 45px;
	padding-bottom: 45px;
	}

#big-news
	{width: 74.25%;
	border-top: 1px solid #000;
	color: #000;
	}

#small-news
	{display: inline !important;
	float: right;
	width: 23.875%;
	}

#news .w1000>div
	{display: inline-table;
	}

.new
	{border-bottom: 4px solid #000;
	border-top: 4px solid #000;
	color: #000;
	margin-top: 18px;
	overflow: hidden;
	}

.new a
	{color: #000;
	}

.new > a:nth-child(n+2)
	{display: block;
	margin-top: 10px;
	}

.new:nth-child(1), .minis-middle>div:nth-of-type(1), .minis-right>div:nth-of-type(1)
	{margin-top: 0px !important;
	}

.new-title
	{font-size: 36px;
	text-transform: uppercase;
	border-bottom: 1px solid #777777;
	margin: 10px 0px;
	padding-bottom: 5px;
	font-family: "NimbusSansNovusUltraLight";
	}

#small-news .new-body
	{padding: 5px 0px;
	width: 100%;
	}

.new-date
	{text-align: center;
	width: 4%;
	}

.new-day
	{font-family: "NimbusSansNovusHeavy";
	font-size: 28px;
	font-weight: bold;
	margin-bottom: -7px;
	margin-top: -5px;
	}

.new-month
	{font-size: 10;
	margin-bottom: -3px;
	text-transform: uppercase;
	font-family: "NimbusSansNovusLight";
	}

.new-year
	{font-family: "NimbusSansNovus";
	font-size: 13px;
	}

.new .new-info
	{width: 90%;
	font-family: Georgia;
	font-weight: bold;
	text-transform: uppercase;
	}

.new-body>div
	{display: table-cell;
	font-size: 12px;
	vertical-align: top;
	}

.new-date > div
	{padding-left: 8.5%;
	}

.list-np
	{border-bottom: 1px solid #CCC;
	color: #000;
	min-height: 50px;
	padding: 15px 0px;
	}

.img-np
	{margin: 0px 1.5%;
	min-height: 73px;
	}

.list-np:last-child
	{border-top: none;
	}

.list-np>div
	{float: left;
	}

.prev-np
	{float: none !important;
	margin-left: 7%;
	}

.prev-np-title
	{font-weight: bold;
	text-transform: uppercase;
	}

.prev-np-text
	{padding-left: 6.5%;
	}

.prev-np-text img
	{display: none;
	}

.title-share
	{border-bottom: 1px dotted #000;
	height: 40px;
	margin: 30px 0px 15px;
	}

.page-title
	{color: #FF5A59;
	display: block;
	float: left;
	font-family: 'NimbusSansNovusLight';
	font-weight: normal;
	font-size: 30px;
	margin: 0px;
	}

#np .page-title
	{color: #2A40DD;
	}

.single .page-title
	{color: #000;
	font-family: Georgia;
	font-size: 12.5px;
	font-weight: bold;
	margin-left: 1%;
	width: 75%;
	}

.single .title-share
	{border: none;
	}

.single .new-body>div
	{display: block;
	}

.title-big
	{font-size: 31px;
	font-family: 'NimbusSansNovus';
	font-weight: bold;
	margin: 10px 0px;
	text-transform: uppercase;
	}

.image-big
	{max-width: 745px;
	max-height: 355px;
	width: 100%;
	overflow: hidden;
	}

.img-desc
	{max-height: 355px;
	}

.image-big img
	{width: 100%;
	}

.dif
	{color: #00BC00;
	}

.desc-big
	{position: absolute;
	}

.desc-title
	{text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.75);
	padding: 15px;
	background-image: url("images/x.png");
	background-position: center right 15px;
	background-repeat: no-repeat;
	}

.desc-title>span
	{text-transform: uppercase;
	font-size: 32px;
	}

.desc-desc
	{background-color: #333;
	color: #FFF;
	padding: 6%;
	position: relative;
	}

.desc-desc a
	{color: #FFE000;
	font-style: italic;
	margin-left: 50px;
	font-family: "Georgia","Sans-serif";
	}

.desc-desc a:before
	{content: "> ";
	font-style: normal;
	}

.desc-desc>div
	{text-align: right;
	margin-top: 15px;
	}

.mini-title
	{text-transform: uppercase;
	font-family: 'NimbusSansNovus';
	font-weight: bold;
	padding: 15px 15px 5px;
	}

.section-text .mini-body
	{padding: 15px;
	}

.little-col
	{width: 32.8%;
	float: left;
	overflow: hidden;
	color: #FFF;
	margin-left: 0.8%;
	}

.little-col:nth-child(1)
	{margin-left: 0%;
	}

.little-col>div
	{margin-top: 15px;
	}

#little-news
	{margin-top: 15px;
	}

#key-points
	{margin-top: 15px;
	}

.img-section
	{display: flex;
	overflow: hidden;
	}

.section-text
	{background-color: #333;
	background-image: url('images/plus-white.png');
	background-repeat: no-repeat;
	background-position: bottom 10px right 10px;
	color: #FFF;
	}

.section
	{margin-top: 15px;
	overflow: hidden;
	}

.section.hover .section-text
	{box-shadow: 0px -10px 10px -10px #FFF;
	background-color: #000;
	}

.section.hover img
	{transform: scale(1.05);
	}

.section>img, .img-section>img
	{width: 100%;
	}

.calendar.hover .section-text
	{box-shadow: none;
	background-color: rgba(0,0,0,0);
	}

.calendar
	{border-bottom: 5px solid #00B1EB;
	}

.calendar a
	{color: #000;
	}

.calendar .mini-title
	{background-color: #00B1EB;
	color: #FFF;
	font-size: 28px;
	padding-top: 40px;
	}

.calendar.hover .mini-title
	{padding-top: 15px;
	}

.calendar .mini-body
	{color: #000;
	padding: 0px;
	margin-top: 10px;
	}

.calendar .new-body
	{border-bottom: 1px solid #00B1EB;
	padding: 10px 0px;
	}

.calendar .new-info
	{font-size: 16px;
	font-family: "NimbusSansNovus";
	padding-left: 4%;
	}

.calendar .section-text
	{background-color: rgba(0,0,0,0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF,endColorstr=#FFFFFFFF);
	}

#index-down
	{background-image: url("images/triangle.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left bottom;
	padding-top: 50px;
	}

.orange
	{background: linear-gradient(#FAAF00 30%, #F28B00);
	color: #FFFFFF;
	height: 100px;
	overflow: hidden
	}

.mini
	{color: #000;
	float: left;
	height: 195px;
	margin-left: 1.49%;
	padding: 1.57%;
	width: 20.739%;
	}

#comp-up
	{margin-bottom: 40px;
	}

#comp-up img
	{width: 100%;
	}

#comp-up>a
	{vertical-align: top;
	display: inline-block;
	}

#comp-up>a:nth-of-type(1)
	{width: 74.4%;
	}

#comp-up>a:nth-of-type(2)
	{margin-left: 2.8%;
	width: 22.2%;
	}

.title
	{text-transform: uppercase;
	font-size: 25px;
	}

.cursive
	{font-style: italic;
	}

#social
	{height: 1122px;
	background-image: url("images/triangle2.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;
	color: #000;
	}

#social>span
	{color: #000;
	}

#social-title
	{font-size: 60px;
	font-family: 'NimbusSansNovusLight';
	}

#social-subtitle
	{font-size: 40px;
	font-family: 'NimbusSansNovus';
	font-weight: bold;
	}

.social-net
	{height: 210px;
	color: #FFF;
	}

.social-net:not(#facebook)
	{margin-top: 15px;
	}

.social-net>a
	{margin-left: 0px;
	}

.social-net>a>img
	{margin-left: 0px;
	height: 214px;
	}

.social-net>*
	{float: left;
	margin-left: 1.7%;
	width: 21.3%;
	}

.net-title
	{text-transform: uppercase;
	font-size: 17px;
	}

.face-when
	{color: #888;
	}

.post
	{background-color: #333;
	}

.show
	{height: 183px;
	padding: 1.6%;
	}

.twit
	{background-color: #ECECEC;
	color: #000;
	}

.twit a
	{color: #50B2CE;
	}

.face-msj
	{max-height: 96px;
	min-height: 96px;
	font-size: 14px;
	}

.twit-msj
	{max-height: 86px;
	min-height: 86px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 14px;
	border-top: 1px dotted #50B2CE;
	border-bottom: 1px dotted #50B2CE;
	}

.l-msj
	{max-height: 96px;
	min-height: 96px;
	font-size: 14px;
	margin-top: 20px;
	}

.link-social
	{background-image: url("images/sprite-social.png");
	display: block;
	height: 23px;
	width: 23px;
	float: right;
	}

#facebook.social-net
	{margin-top: 10px;
	}

#facebook .link-social
	{background-position: -40px 0px;
	}

#linkedin .llogo
	{background-position: -80px 0px;
	}

.net-foot
	{margin-top: 14px;
	}

.answer
	{background-position: 0px -37px;
	float: left;
	width: 17px;
	}

.answer:hover
	{background-position: -17px -37px;
	}

.retweet, .lshare
	{background-position: -79px -36px;
	float: left;
	width: 17px;
	margin: 0px 10px;
	}

.retweet:hover, .lshare:hover
	{background-position: -96px -36px;
	}

.favorite
	{background-position: -32px -36px;
	float: left;
	width: 17px;
	}

.favorite:hover
	{background-position: -49px -36px;
	}

.video
	{background-color: #000;
	padding: 0px;
	width: 37.6%;
	}

.lpost
	{background-color: #ECECEC;
	color: #000;
	}

.lshare
	{margin-left: 0px;
	}

.video iframe
	{width: 100%;
	height: 100%;
	}

iframe
	{display: block;
	margin: 0 auto;
	}

footer
	{color: #000;
	height: 300px;
	float: left;
	width: 100%;
	}

.foot-section
	{color: #4C4C4C;
	float: left;
	font-family: Georgia;
	font-size: 14px;
	font-style: Italic;
	height: 187px;
	margin-left: 8%;
	margin-top: 40px;
	width: 19%;
	}

.foot-section a
	{color: #4C4C4C;
	}

.foot-section div
	{padding: 13px 0px;
	border-top: 1px solid #CBCBCB;
	}

.foot-section div:last-child
	{border-bottom: 1px solid #CBCBCB;
	}

#fs1
	{font-family: "NimbusSansNovusLight";
	font-size: 32px;
	font-style: Normal;
	}

#fs1 span
	{font-family: "NimbusSansNovus";
	font-weight: bold;
	}

.w1000 .colors, .w1000 #colors
	{height: 8px;
	}

img.alignleft
	{float: left;
	}

img.alignright
	{float: right;
	}

img.aligncenter
	{display: block;
	margin-left: auto;
	margin-right: auto;
	}

#rounds>a
	{background-image: url("images/sprite.png");
	display: inline-block;
	width: 26px;
	height: 26px;
	}

#rounds>a:not(#twitter-round)
	{margin-right: 5.7%;
	}

#feed
	{background-position: 0px -300px;
	}

#youtube-round
	{background-position: -36px -1px;
	}

#facebook-round
	{background-position: -71px -1px;
	}

#twitter-round
	{background-position: -105px -1px;
	margin-right: 0px !important;
	}

.main-section
	{color: #000;
	margin-top: 60px;
	}

.main-section .contzoom
	{margin-bottom: -4px;
	}

.section-title
	{font-size: 30px;
	font-family: 'NimbusSansNovus';
	font-weight: bold;
	padding-left: 26%;
	text-transform: uppercase;
	}

.section-title span
	{font-size: 50px;
	}

.section-left
	{width: 23.875%;
	float: left;
	}

.section-left>div:not(.work-for-gdf)
	{margin-top: 15px;
	}

.section-right
	{width: 74.625%;
	float: right;
	}

.section-left .new-title
	{font-weight: normal;
	}

.direct-access
	{padding: 10px;
	font-family: 'NimbusSansNovus';
	}

.direct-access h3
	{font-size: 35px;
	margin: 0px;
	}

.direct-access li
	{list-style-image: none;
    list-style-type: none;
	}

.direct-access a
	{text-transform: capitalize;
	}

#cicle
	{margin-bottom: -30px;
	z-index: 1;
	min-height: 233px;
	}

.slider
	{max-height: 233px;
	width: 101% !important;
	}

#pager
	{margin-bottom: 30px;
	position: relative;
	z-index: 2;
	}

.subpager
	{margin-left: 10px;
	}

.subpager div
	{margin-left: 5px;
	}

.new-black
	{background-color: #333;
	color: #FFF;
	float: left;
	font-family: 'NimbusSansNovus';
	font-size: 20px;
	position: relative;
	width: 33% !important;
	}

.new-black>div
	{margin: 0 auto;
	width: 86%;
	margin: 10px auto 0px;
	}

.slider>img
	{max-height: 235px;
    width: 66% !important;
	}

.slider-title
	{font-weight: bold;
	}

.slider-desc
	{max-height: 192px;
	}

.subpager>div
	{cursor: pointer;
	width: 13px;
	height: 13px;
	background-image: url("images/sprite.png");
	background-position: -60px -340px;
	float: left;
	}

.activeSlide>div
	{background-position: -40px -340px;
	}

.minis
	{float: left;
	margin-left: 1.5%;
	margin-top: 15px;
	width: 23.86%;
	}

.minis>*
	{display: block;
	margin-top: 15px;
	}

.minis>*:nth-of-type(1)
	{margin-top: 0px;
	}


.new>span
	{font-size: 13px;
	font-style: italic;
	}

.menu
	{background: linear-gradient(#379F9B, #60CECA);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#379F9B', endColorstr='#60CECA');
	}

.menu, .menuie
	{height: 0px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	width: 100%;
	z-index: 200;
	}

.menuie
	{display: none;
	height: auto;
	margin: 0px auto;
	position: static;
	}

.memu.deployed
	{min-height: 200px
	}

.menu a, .menuie a
	{color: #FFF;
	font-size: 13px;
	font-family: 'NimbusSansNovusMedium';
	text-transform: uppercase;
	}

.menu a:hover, .menuie a:hover
	{text-decoration: underline;
	}

.menu li, .menuie li
	{border-top: 1px solid #93D4D2;
	list-style-image: none;
	list-style-type: none;
	padding: 2px 0;
	text-transform: uppercase;
	list-style-image: url("images/li-noa.png");
	list-style-type: none;
	}

.menu .li-active, .menuie .li-active
	{list-style-image: url("images/li-a.png");
	}

.menu li:last-child, .menuie li:last-child
	{border-bottom: 1px solid #93D4D2;
	}

.li-first-col
	{list-style-image: none !important;
	}

.menu ul
	{display: none;
	margin-left: -3px;
	padding-left: 2.7%;
	width: 25.8%;
	}

.menu ul:first-child, .menuie ul:first-child
	{display: inline-table;
	margin-left: 0%;
	}

.menu ul.visible
	{display: inline-table;
	}

.menuie ul
	{display: inline-table;
	margin-left: 3%;
	}

.menu>div
	{width: 1000px;
	height: 400px;
	}

.title-3
	{border-bottom: 1px dotted #000;
	font-size: 30px;
	margin-bottom: 15px;
	padding-bottom: 5px;
	}

.description
	{color: #000;
	margin-top: 35px;
	font-family: 'NimbusSansNovusLight';
	}

#search
	{border-bottom: 1px dotted #000;
	font-family: 'NimbusSansNovusLight';
	font-size: 30px;
	margin-top: 30px;
	color: #2A40DD;
	}

#search-form
	{background-color: #FFF;
	border: 3px solid #E3E3E3;
	height: 28px;
	margin: 0px auto;
	width: 43%;
	}

[name=q]
	{border: none;
	color: #000;
	float: left;
	padding: 6px;
	width: 85%;
	}

#submit
	{background-color: rgba(0,0,0,0);
	background-image: url("images/sprite.png");
	background-position: -171px -105px;
    background-repeat: no-repeat;
	border: none;
	float: right;
	height: 23px;
	margin-top: 3px;
    width: 23px;
	}

#search-section
	{width: 97%;
	}

#line-down
	{border: 17.5px solid #77B900;
	margin-top: 100px;
	}

#pagination
	{float: right;
	margin-top: 10px;
	}

#pagination a, #pagination div
	{background-color: #EBEBEB;
	color: #000;
	float: left;
	height: 35px;
	margin-left: 1px;
	width: 35px;
	text-align: center
	}

.active
	{font-weight: bold;
	}

#pagination a
	{height: 25px;
	padding-top: 10px;
	}

.submit
	{padding: 17.5px;
	background-color: rgba(0,0,0,0);
	border: none;
	cursor: pointer;
	}

.prev, .next
	{display: none;
	background-image: url("images/sprite.png");
	background-repeat: no-repeat;
	background-color: #E3E3E3;
	padding: 0px;
	}

.prev
	{background-position: -289px 3px;
	}

.next
	{background-position: -330px 3px;
	}

.ppp
	{display: none;
	background-color: #EBEBEB;
	font-size: 36px;
	font-weight: bold;
	line-height: 24px;
	}

#results
	{background-color: #F9F8F6;
	margin-bottom: 40px;
	padding: 4%;
	width: 92%;
	}

.results
	{border-bottom: 1px solid #CCC;
	color: #767676;
	display: block;
	padding: 10px 0px;
	}

.results:first-child
	{padding-top: 0px;
	}

.results:last-child
	{border-bottom: none;
	padding-bottom: 0px;
	}

#form-search
	{background-color: #F9F8F6;
	color: #575757;
	font-size: 40px;
	margin: 25px 0px;
	padding: 4%;
	text-align: center;
	}

#form-search span
	{font-family: "nimbussansnovuslight";
	}

.tn
	{color: #000000;
	font-size: 18px;
	font-weight: bold;
	}

.result-number
	{margin-right: 10px;
	float: left;
	}

.result-title
	{padding-left: 3.3%;
	}

.content
	{font-family: "nimbussansnovuslight";
	margin-bottom: 15px;
	margin-left: 30px;
	margin-top: 5px;
	}

.content:last-child
	{margin-bottom: 0px;
	}

.content:before
	{background-image: url("images/right-black.png");
	background-position: left top 7px;
	background-repeat: no-repeat;
	content: " ";
	padding-right: 4px;
	}

.content p, .content h2
	{display: inline-block;
	}

.single
	{color: #000;
	margin-top: 30px;
	width: 97%;
	}

.single-content>p:nth-of-type(1)
	{background-color: #F1F1F1;
	display: inline;
    line-height: 28.5px;
	}

.single-content>p:nth-of-type(2)
	{margin-top: 15px;
	}

.single-content>p
	{font-size: 13px;
	text-align: justify;
	}

.post-title
	{font-family: Tahoma;
	font-weight: normal;
	}

.featured-page .post-title
	{color: #FF5A59;
	display: block;
	margin: 5px 0px;
	}

.featured-page p a
	{color: #0000FF !important;
    display: inline !important;
	}

.featured-page a:not(.prev):not(.next)
	{color: #000;
	display: inline-block;
	width: 24%;
	}

.featured-page a:nth-child(3n+2)
	{margin: 0px 13.5%;
	}

.post-page a
	{color: #959595;
	}

.cont-post
	{background-color: #F9F8F6;
	display: inline-table;
	height: 251px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 30px 1% 30px 3%;
	width: 26%;
	}

.featured-page .cont-post
	{padding: 0px;
	width: 100%;
	}

.featured-page .cont-post div
	{padding: 3%;
	}

.read-more
	{color: #FF5A59;
	}

.cont-post:nth-child(3n+2)
	{margin-left: 4.6%;
	margin-right: 4.6%;
	}

.cont-post img
	{display: block;
    max-width: 240px;
	}

.cont-post li
	{list-style-image: url("images/right-black.png");
	}

.post-title
	{color: #000;
	font-size: 17px;
	}

.single-content
	{font-family: Tahoma;
	}

strong
	{font-weight: bold;
	}

.single .new-body
	{border-bottom: 1px solid #9D9C9B;
	margin-bottom: 30px;
	}

.single .new-info
	{font-weight: bold;
	margin-left: 0.4%;
	margin-top: 5px;
	text-transform: uppercase;
	width: 80%;
	}

#E404
	{text-align: center;
	}

.single .new-date
	{float: left;
	text-align: center;
	}

#page
	{margin-top: 30px;
	color: #000;
	}

#page ul
	{padding-left: 40px;
	margin: 16px 0px;
	}

#page li
	{list-style-image: none;
	}

.bdivisor
	{border-color: #E3E300;
	}

.divisor
	{border-style: solid;
    border-width: 17.5px 0px;
	margin-top: 28px;
	}

.social-share
	{float: right;
	margin-top: 8px;
	}

.social-share a
	{color: #000;
	}

.social-share span, .social-share>img
	{cursor: pointer;
	}

#social-more
	{background-color: #fff;
	height: 0px;
	margin-left: -15px;
    overflow: hidden;
	position: absolute;
	}

#social-more.opened
	{padding-left: 15px;
	padding-right: 15px;
	height: 175px;
	}

.gallery
	{display: none;
	}

#three-images
	{margin-top: 20px;
	}

#three-images img
	{max-height: 250px;
	}

#three-images img:nth-of-type(1)
	{width: 54.2%;
	}

#three-images img:nth-of-type(2)
	{margin-left: 0.833333%;
	margin-right: 0.833333%;
	width: 17.5%;
	}

#three-images img:nth-of-type(3)
	{width: 26.6%;
	}

.menu-float
	{position: fixed;
	height: 100%;
	width: 0px;
	overflow-x: hidden;
	}

.menu-float a
	{color: #FFF;
	display: inline-block;
	padding: 15px 5%;
	width: 80%;
	}

.menu-float ul
	{padding-left: 3px;
	}

.menu-float>ul
	{height: auto;
	}

.menu-float li
	{line-height: 1.5;
	list-style-image: none;
	list-style-type: none;
	margin-top: 0px;
	margin-bottom: 0px;
	}

#menu-a-float
	{background-color: #15A6A1;
	top: 0px;
	right: 0px;
	}

#menu-a-float li
	{border-top: 1px solid #149C97;
	}

#menu-b-float
	{background-color: #43358C;
	top: 0px;
	left: 0px;
	}

#menu-b-float ul ul
	{background-color: #53459F;
	}

#menu-b-float ul ul ul
	{background-color: #6557AF;
	}

#menu-b-float li
	{border-top: 1px solid #6F62B5;
	}

#menu-a-float li:nth-of-type(1), #menu-b-float li:nth-of-type(1)
	{border: none;
	}

.menu-float li, .zooming, #languages, .section-text,
.section>img, .img-section>img, .calendar .mini-title,
#social-more, #bydate span, #bytheme span, body, .menu-float,
.memu.deployed
	{-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	}

.hamburger, .menu-right
	{background-image: url("images/menu.png");
	background-repeat: no-repeat;
	cursor: pointer;
	display: none;
	height: 20px;
	margin: 5px 2%;
	width: 20px;
	}

.hamburger
	{background-image: url("images/hamburger.png");
	float: left;
	}

.menu-right
	{background-image: url("images/menu.png");
	float: right;
	}

#magglass-930
	{background-image: url("images/sprite.png");
	background-position: -138px -103px;
	border: none;
	float: right;
	height: 30px;
	width: 18px;
	}

#form-search-header
	{display: none;
	float: right;
	width: 192px;
	}

#form-search-header>input[type=text]
	{border: 1px solid #EEE;
	float: none;
	width: 150px;
	}

#lang-head
	{display: none;
	float: right;
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 16px;
	}

.menu-a-float
	{margin-left: -240px;
	overflow-x: hidden;
	}

.menu-b-float
	{margin-left: 240px;
	overflow-x: hidden;
	}

.ul-menu
	{height: 0px;
	overflow: hidden;
	width: 240px;
	}

.ul-menu.first-ul
	{height: auto;
	}

.plus-minus
	{background: url("images/sprite.png");
	background-repeat: no-repeat;
	display: inline-block;
	height: 13px;
	width: 13px;
	}

.plus
	{background-position: -40px -380px;
	}

.minus
	{background-position: -60px -380px;
	}

.plus-minus
	{cursor: pointer;
	}

.box
	{background-repeat: no-repeat;
	background-size: 100% auto;
	color: #000;
	display: inline-block;
	font-family: "NimbusSansNovus";
	font-size: 17px;
	font-weight: bold;
	height: 211px;
	margin-right: 0.7%;
	text-transform: uppercase;
	width: 24%;
	}

.banner
	{color: #000;
	display: inline-block;
	font-family: "NimbusSansNovus";
	height: 125px;
	margin-right: 0.7%;
	width: 24%;
	overflow: hidden;
	}

.banner>span
	{background-color: #FFF;
	border-top: 5px solid #43358B;
	display: inline-block;
	height: 89%;
	padding-top: 4%;
	width: 100%;
	}

.banner img
	{width: 100%;
	}

.banner.hover div
	{font-weight: bold;
	}

.banner.hover>img
	{margin-bottom: -45%;
	}

.banner.hover>span
	{margin-top: -12%;
	}

.box:nth-child(4n), .banner:nth-child(4n+2)
	{margin-right: 0px;
	}

#box-banner
	{margin-top: 10px;
	}

#sitemap .ul-menu.first-ul
	{background-color: #00AAE7;
	color: #FFF;
	width: 100%;
	}

#sitemap ul
	{padding-left: 32px;
	}

#sitemap .ul-menu
	{width: auto;
	}

#sitemap>div>ul
	{padding-left: 1%;
	}

#sitemap a
	{color: #FFF;
	}

#sitemap li
	{list-style-image: none;
	list-style-type: none;
	}

#pages
	{float: left;
	width: 50%;
	}

#posts
	{float: right;
	width: 50%;
	box-shadow: 0px 0px 0px 1px #FFF;
	}

#new-search
	{background-color: #F9F8F6;
	color: #000;
	font-family: Tahoma;
	font-size: 11px;
	padding: 45px 2.63158%;
	}

#new-search>span>div
	{display: inline-table;
	margin-left: 0.75%;
	vertical-align: middle;
	}

#new-search>div:nth-of-type(1)
	{margin-left: 0px;
	}

#new-search select
	{border: none;
	opacity: 0;
	overflow: hidden;
	padding: 2%;
	width: 41%;
	}

.select
	{color: #666;
	background-color: #FFF;
	cursor: default;
	display: inline-block;
	font-family: 'HelveticaNeue';
	margin-right: -44.5%;
	padding: 2%;
	width: 37.1%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;    
	}

[data-id=montht]
	{margin-left: 12px;
	}

#s
	{background-color: #FBC11F;
	color: #FFF;
	font-family: "NimbusSansNovusLight";
	font-size: 30px;
	height: 27px;
	margin-left: 0px !important;
	padding: 1.8%;
	text-align: center;
	width: 20%;
	}

#byd
	{background-color: #5F4090;
	}

#byt
	{background-color: #A6BEE0;
	}

#byd, #byt
	{color: #FFF;
	font-family: "NimbusSansNovusLight";
	font-size: 13.7667px;
	height: 47px;
	padding: 1.05%;
	width: 7%;
	}

#byd span, #byt span
	{font-weight: Bold;
	}

#bytheme .select, #bytheme select
	{width: 90%;
	}

#bytheme select
	{margin-right: 0px;
	}

#bytheme .select
	{margin-right: -92%;
	}

#bydate
	{width: 24%;
	}

#new-search [type=submit]
	{ background-color: #AEADAC;
    border-radius: 0px;
    border: none;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 11px;
    height: 30px;
    padding: 0px 2.1%;
	}

#monthf, #montht
	{margin-right: 6.8%;
	}

.alpha03
	{opacity: 0.3;
	}

#goToNews
	{color: #000;
	font-family: Georgia;
	font-size: 12px;
	font-style: italic;
	}

#goToNews div
	{background-color: #EBEBEB;
	padding: 10px;
	width: 92px;
	}

#goToNews img
	{margin-right: 7px;
	}

@media only screen and (max-width: 930px)
	{#menu, #sub-menu, .menu
		{display: none;
		}
	
	#logo-link
		{display: block;
		float: left;
		}

	.hamburger, .menu-right, #form-search-header, #lang-head, #new-search>span
		{display: block;
		}
	
	header
		{height: 60px;
		}
	
	footer
		{text-align: center;
		}
	
	#new-search>span
		{margin: 20px 0px;
		text-align: center;
		}
	
	#new-search>span>div:not(#s)
		{text-align: left;
		}
	
	#s
		{width: 165px;
		}
	
	#byd, #byt
		{width: 61px;
		}
	
	#bydate
		{width: 300px;
		}
	
	#bytheme
		{width: 210px;
		}
	
	#new-search [type=submit]
		{display: block;
		margin: 20px auto 0px auto;
		}
	
	#new-search
		{padding: 15px 2.63158%;
		}
	
	#social-more
		{background-color: rgba(0,0,0,0);
		}
	
	.box, .banner
		{min-width: 225px;
		}
	
	#comp-up > a:nth-of-type(2)
		{margin: 0px auto;
		}
	
	.new .new-info
		{width: 84.4%;
		}
	}
		
@media only screen and (max-width: 751px)
	{.img-section
		{margin: 0px auto;
		max-width: 241px;
		}
	}

@media only screen and (max-width: 750px)
	{#news, #comp-up, .social-net, #social, #journal, header>div
		{height: auto;
		}
	
	#big-news, #small-news, .little-col
		{float: none;
		width: 100%;
		margin-left: 0%;
		}
	
	.img-desc
		{margin-bottom: -4px;
		}
	
	.image-big
		{max-height: none;
		height: auto !important;
		}
	
	.little-col>div
		{margin: 20px auto 0px auto;
		width: 97%;
		}
	
	#anual
		{padding: 37px 0;
		}
	
	#anual
		{padding: 18px 0;
		}
	
	#small-news>div
		{margin: 18px auto 0px !important;
		max-width: 241px;
		}
	
	#comp-up>div
		{display: block;
		float: none;
		width: 100%;
		}
	
	#comp-up>div
		{display: block;
		float: none;
		width: 100%;
		}
	
	#key-figures img
		{display: block;
		margin: 0 auto;
		width: auto;
		}
	
	#key-figures
		{max-width: none;
		}
	
	#comp-up>div
		{margin-top: 20px;
		}
	
	.mini
		{float: none;
		margin: 20px auto !important;
		}
	
	#interim
		{background-image: url("images/dividende.jpg");
		background-position: left top;
		background-repeat: no-repeat;
		background-size: 100% auto;
		}
	
	.dossier, #newsletter
		{float: none;
		margin: 20px auto 0px !important;
		width: auto;
		}
	
	.social-net>*
		{float: none;
		margin: 20px auto 0px !important;
		width: 92.6%;
		}
	
	.social-net>*:not(.video), .main-section
		{height: auto !important;
		}
	
	.social-net>div:not(.video)
		{padding-bottom: 30px;
		}
	
	.social-net>img
		{display: block;
		width: 25.7%;
		}
	
	.foot-section
		{float: none;
		height: auto;
		margin-left: 0%;
		margin-top: 0px;
		width: 100%;
		border-bottom: none;
		}
	
	.foot-section>div
		{padding-left: 3%;
		}
	
	#rounds
		{text-align: right;
		}
	
	#rounds>a:not(#twitter-round )
		{margin-left: 2.6% !important;
		margin-right: 0 !important;
		}
	
	#twitter-round 
		{margin-left: 2.6%;
		margin-right: 2.6% !important;
		}
	
	#logo, .subright
		{float: none;
		}
	
	.subright
		{display: none;
		}
	
	#menu
		{float: none;
		max-width: none;
		min-width: none;
		}
	
	#up
		{margin-left: 0px;
		}
	
	#down
		{margin-left: auto;
		height: auto !important;
		border-top: none;
		}
	
	#down>div
		{border-top: 1px solid #C2D2E9;
		border-right: none;
		float: none;
		font-family: 'NimbusSansNovusLight';
		font-size: 30px;
		padding: 17px 0px 17px 30px !important;
		text-transform: uppercase;
		}
	
	#down>div:nth-of-type(1)
		{padding: 0px 18px;
		}
	
	#sub-menu
		{height: auto;
		background: linear-gradient(190deg, #369A96, #60CECA);
		box-shadow: 0px 6px 6px 0px #256C69 inset;
		}
	
	.subleft
		{float: none;
		list-style-image: none;
		list-style-type: none;
		padding: 15px 0px;
		}
	
	#sub-menu a
		{color: #FFF;
		font-size: 21px;
		}
	
	#about
		{margin-left: 25px;
		}
	
	#understand
		{border-top: 1px solid #93D4D2;
		border-bottom: 1px solid #93D4D2;
		}
	
	.section-left, .section-right, .minis
		{float: none;
		margin: 0px auto;
		width: 96%;
		}
	
	#index-down .w1000>div
		{margin: 0px auto;
		}
	
	#comp-up>a
		{display: block;
		margin: 0px auto;
		}
	
	#comp-up a img
		{width: 100%;
		}
	
	#comp-up>a:nth-of-type(1)
		{width: 100%;
		max-width: 600px;
		}
	
	#comp-up>a:nth-of-type(2)
		{width: 100%;
		max-width: 300px;
		}
	
	#box-banner>a
		{margin-left: calc(50% - 112.5px);
		}
	
	.calendar
		{width: 36% !important;
		}
	}
	
@media only screen and (max-width: 550px)
	{#up>div
		{float: none;
		}
	
	#menu>div
		{height: auto;
		}
	
	#up
		{margin-top: 10px;
		margin-bottom: 20px;
		padding-left: 9%;
		}
	
	#up>div, .name
		{padding-left: 0px;
		}
	
	#logo
		{margin-left: 9%;
		}
	}
	
@media only screen and (max-width: 750px)
	{.single .title-share
		{padding-left: 8%;
		}
	
	.social-share
		{margin-right: 12px;
		margin-top: 0px;
		width: 5px;
		}
	
	#social-more span span
		{display: none;
		}
	
	.title-share
		{height: 100px;
		}
	}
	
@media only screen and (max-width: 475px)
	{.single .title-share
		{padding-left: 13%;
		}
		
	.previews
		{height: auto !important;
		margin: 0px auto !important;
		width: 90%;
		}
	
	.preview
		{width: 100%;
		margin: 25px 0px !important;
		float: none;
		}
	
	.findmore
		{margin-top: 0px;
		}
	
	.findmore>div
		{display: block;
		margin: 0 auto;
		width: 81%;
		}
	}